################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryDTOs/bin
/LibraryDTOs/obj
/Utils/bin
/Utils/obj
/LibraryRepository/bin
/LibraryRepository/obj
/LibraryServices/bin
/LibraryServices/obj
